@import '../../colors.less';

.crud-task-container {
  .start-end-task-button {
    margin-left: 0;
    margin-right: 0.5em;
    background: @olive;
    &:hover {
      background: @olive-dark;
    }
    outline: none !important;
  }
  .crud-task-content {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    .timer-input-label {
      vertical-align: middle;
      float: left;
    }
    .timer-input-form {
      width: 5em;
      float: left;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 1em;
      margin-left: 1em;
      height: 24px;
    }
    .progress-container {
      stroke: @olive;
      .CircularProgressbar-path {
        stroke: @olive;
      }
      .CircularProgressbar-text {
        fill: @olive;
      }
    }
  }
}

.task-preview {
  margin-left: 1em;
  margin-top: 1em;
  .task-preview {
    font-size: 1.5em;
  }
  .time-spent {
    font-size: 0.8em;
    float: left;
  }
  .time-stamp {
    margin-left: 2em;
    font-size: 0.8em;
    float: left;
  }
}