.project-view-container {
  border: 1px solid #999999;
  border-radius: 0.5em;
  margin: 1em;
  overflow: hidden;
  .project-view-header {
    background-color: tomato;
    color: white;
    padding: 0.5em;
    .name-container {
      font-size: 2em;
    }
  }
}

.preview-content {
  border: 1px solid rgb(80, 130, 130);
  .preview-content-header {
    padding: 0.5em;
    background-color: rgb(80, 130, 130);
    color: white;
    .project-name {
      font-size: 2em;
    }
    .date-range {
      font-size: 1em;
      text-align: right;
    }
  }
  .preview-content-body {

  }
}

.sprint-preview-container {
  width: 200px;
  border: 1px solid seagreen;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0.5em;
}