.sprint-view-container {
  border: 1px solid #999999;
  border-radius: 15px;
  margin: 1em;
  overflow: hidden;
  .sprint-view-header {
    background-color: seagreen;
    color: white;
    padding: 0.5em;
    .name-container {
      font-size: 2em;
    }
  }
  .circular-progress-container {
    margin: 1em;
  }
}
