.sprint-view-container {
  border: 1px solid #666666;
  border-radius: 0.5em;
  margin: 1em;
  .sprint-view-header {
    background-color: seagreen;
    color: white;
    padding: 0.5em;
    .name-container {
      font-size: 2em;
    }
  }
}
