.project-preview-container {
  width: 200px;
  border: 1px solid seagreen;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0.5em;
}

.dashboard-header-container {
  background-color: #EEEEEE;
}
